.container {
    display: flex;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

#section {
    /* grid-row: 3 /5;
    grid-column: 1 / 4; */

}
#footer {

}

header{
    background-color: lightgoldenrodyellow;
}

header > nav ul{
    list-style: none;
    margin:0;
    padding:0;
    font-size: 5px;
}

body {
    background-color: aqua;
}

section{
    background-color: lightskyblue;
    border-style: ridge;
    border-color: bisque;
}
