header {
    background-color:pink;
    font-family: "arial-black";

}
header > nav ul{
    list-style: none;
    margin:0;
    padding: 2px;
}

body {
    font-family: sans-serif;
    background-color: rgb(114, 141, 185);
    background-image: url(../../assets/images/soft_cloud.jpeg);

}
p {
    background-color: #f9a825;
}
h1 {
    /* background-color: rgba(250, 250, 210, 0.648); */
    background-color: rgb(200, 167, 105);
    font-family: 'LemonRegular';
    font-weight: normal;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: px;
    font-size: 2.5rem;
    text-align: center;
    border-style: double;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


h2 {
    color:rgb(25, 86, 217);
    list-style: disc;
    margin:0;
    padding: 5px;
    font-size: 2rem;
    border: 5px;
    border-color: black;
}
p {
    line-height: 150%;
    color:black;
    background-color:rgb(163, 146, 222);
    border: 5px;
    border-style: dotted;
    border-color: white;
    margin-left: 20px;
    margin-right: 20px;
    size: 700px;
    border: 5px;
    border-color: black;
}
#content1::after{
    content: "\a";
    white-space: pre;
    text-decoration: wavy;
    text-align: left;
}

#content2::after{
    content: "\a";
    white-space: pre;
    text-decoration: underline;
    text-align: center;
}

nav {
    font-size : 1.5rem;
    background-color: rgb(168, 221, 194);
    border-style: dotted black;
}


img {
    border: 1px solid #ddd;
    border-radius : 10px;
    width : 400px;
    height : 200px;
    padding: 5px;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #f48fb1, #7e57c2, #26c6da, #1eb0ac, #eeff41);
    height: auto;
    padding-top: 20px;
}




.footer-content{
    display:block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color:white;
    font-stretch: expanded;
}

