@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500&display=swap');
@import url('https://fontlibrary.org//face/lemon" type="text/css');

header {
    background-color: #c5ded7;
    font-family: 'PfennigMedium',serif;
    font-weight: normal;
    font-style: normal;
}
header > nav ul{
    font-family: 'PfennigMedium',serif;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    margin:0;
    padding:0;
}

footer {
    font-size: 15px;
    padding-bottom: 20px;
    text-align: center;

}
body {
    font-family: sans-serif;
    background-color:  #e0ebe8;
    margin-left: 150px;
    margin-right: 150px;
}

/* h1 is three moms club */
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'LemonRegular';
    font-weight: normal;
    font-style: normal;
    line-height: 200%;
    background-color: rgb(99, 142, 142);
    color: rgb(239, 244, 244)
}

/* h2 is welcome messge */
h2 {
    font-family: 'PfennigMedium',serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color:rgb(2, 18, 53);
    list-style: none;
    padding: 0;
    text-align: center;
}

em {
    font-size: 40px;
}

section {
    text-align: center;
    background-color: rgb(168, 221, 194);
}
p {
    line-height: 150%;
    color:black;
    background-color:white;
    border: 5px;
    border-style: dotted;
    border-color: white;
    margin-left: 20px;
    margin-right: 50px;
    size: 5000px;
}

#content1::after{
    content: "\a";
    white-space: pre;
}

#content2::after{
    content: "\a";
    white-space: pre;
}

nav {
    font-size : 1em;
    background-color: mintcream;
    border-style: dotted black;
}


img {
    border: 1px solid #ddd;
    border-radius : 10px;
    width : 300px;
    padding: 5px;
}


.navbar {
    background-color: rgb(57, 59, 72);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 23%;
}

  /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: rgb(14, 11, 11);
}

  /* Add a color to the active/current link */
.navbar a.active {
    background-color: #daa7d7;
    color: white;
}