/* Dalia - Add 3 page specific styles; 1 should override style.css generic style */

img {
    width: 35%;
    padding-left: 5%;
    padding-bottom: 5%;
}

h1 {
    font-family: Arial, Helvetica;
    text-align: center;
    padding-bottom: 10%;
}

section {
    width: 70%;
    padding: 5%;
}

#mt_storm_king {
    height: 17vw;
}