h1{
    text-shadow:1px 2px #4e6c504b;
}

.image-container{
    display: flexbox;
    margin: 1%;
}

.image-container > a > img{
    border-radius: 5%;
    width:250px;
    height:300px;
    box-shadow: 2px;
    border-style: dotted;
}





