main {
    margin: 0 10vw;
    padding: 5vh 0;
}

img {
    width: 80vw;
    max-width: 800px;
    border-radius: 50%;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding: 0 10vw;
}

h3 {
    font-family: 'Tangerine', serif;
    font-size: 50px;
}

#img-description {
    font-size: small;
}

