main {
    margin: 0 10vw;
    padding: 5vh 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* border: 2px solid black;*/
    justify-items: center;
}

.grid-item {
    /*border: 2px solid red;*/
    align-self: center;
}

img.grid-item-1 {
    width: 80vw;
    max-width: 800px;
    border-radius: 50%;
}

#img-description, p > a {
    font-size: max(0.5vw, 15px);
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding: 0 10vw;
}

h3 {
    font-family: 'Tangerine', serif;
    font-size: 50px;
}