h2 {
    color: rgb(77, 53, 28);
    font-size: 1.7rem;
}

h3 {
    color: rgb(77, 53, 28);
    font-size: 1.3rem;
    margin-top: 10%;
}
.homepage-container {
    display: grid;
    grid-template: 0.1fr 0.4fr / 1fr;
}
.navbar-row {
    grid-row: 2;
    grid-column: 1/2;
}

.main-row {
    grid-row: 3;
    grid-column: 1/2;
    display: grid;
    grid-template: 0.2fr 1fr / 0.7fr 1fr;
}

.main-row h2 {
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 4%;
}

.main-row h3 {
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 10%;
    margin-bottom: 3%;
}

.main-row .homepage-img1 {
    grid-column: 1;
    grid-row: 2;
    width:84%;
    height: 40%;
    margin-left: 22%;
    margin-top: 7%;
}

.main-row .homepage-img2 {
    grid-column: 1;
    grid-row: 2;
    width:84%;
    height: 44%;
    margin-top: 55%;
    margin-left: 22%;
}

.main-row .homepage-img3 {
    grid-column: 2;
    grid-row: 2;
    width: 80%;
    height: 81%;
    margin-top: 5%;
    margin-left: 3%;
}