@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body{
    background-color: bisque;
    text-align: center;
    font-family: 'Crimson Text', serif;
    background-image: url("../images/pattern.jpg");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:3%;

}
footer {
    height: 1%;
    padding: 10px;
    color:bisque;
    background-color: #4E6C50;
    font-size: 20px;
    margin: 0;
    width: 100%;
    
}

/*h1 file in the navbar*/
#navbar-row{
    font-size: 45px;
    font-family: 'Crimson Text', serif;
    color: rgb(77, 53, 28);
    background-color:bisque;
    margin:0;
    text-shadow:1px 2px #4e6c504b;
    padding-bottom: 1%;
    padding-top: 1%;
}

h2 {
    font-size: 25px;
    font-family: 'Crimson Text', serif;
}

.background-div {
    background-color: bisque;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right:10%;
    padding-top: 2%;
    padding-bottom:5%;
}

.navbar-row nav {
    display: grid;
    font-size: 25px;
    margin-top: 0;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr ;
    background-color:   rgb(140, 95, 69);
};

.navbar-row nav a {
    color: bisque;
    text-decoration: none;
}

.navbar-row nav a:hover {
    background: #4e6c50cc;
    color: rgb(37, 7, 1);
} 

.navbar-row nav a:visited{
    color: rgb(188, 149, 190);
    
} 