body {
    text-align: center;
}

header, footer {
    border: 2px solid rgb(188, 188, 188);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fbd1bd;
    color: rgb(116, 116, 116);
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    font-size: large;
    padding: 0.5vw;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover { color: rgb(116, 116, 116); }